# .github/workflows/firebase-deploy.yml

name: Deploy to Firebase

on:
  push:
    branches:
      - main # Or 'master' depending on your main branch name

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - name: Install All Dependencies
        run: |
          npm ci
          npm ci --prefix client
          npm ci --prefix server

      - name: Build Client Application
        run: npm run build --prefix client

      - name: Deploy to Firebase
        run: npx firebase-tools deploy --only hosting,functions --token "${{ secrets.FIREBASE_TOKEN }}" --non-interactive
